body{
    background-color: rgb(17, 17, 17);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}
h4{color: rgb(148, 105, 3);
text-align: center;
font-family: 'Courier New', Courier, monospace
}
u{
    color: rgb(0, 0, 0);
}
#header{
    background-color: chocolate;
    margin: 15px;
    height: 60px;
    border-radius: 15px;
    
}

#navbar{
    background-color:rgb(97, 97, 97);
    margin: 10px;
    border-radius: 15px;
    padding: 7px;
    font-family: sans-serif;
    text-align: center;
    font-size: 23px;
}
#navbar:hover {
    background-color: chocolate;
    transition: 1s;
}

a {
    color: rgb(255, 255, 255);
    
}
a:hover {
    background-color: darkgray;
    transition: 0.7s;
    border-radius: 10px;
}

/* -----------------------Starting---------------------------*/

/*----------------VIDEO 1------------*/
.vid1 {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    margin-right: 525px;
    margin-left: 80px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom: 10px;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    padding: 25px;
    
}

/*-----------------VIDEO 2---------------*/

.vid2 {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    margin-right: 75px;
    padding: 27.5px;
    border-style: solid;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    border-radius: 15px;
    float: right;
    

}

/*-------------------VIDEO 3---------------*/

.vid3 {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    margin-right: 520px;
    margin-left: 80px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom: 10px;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    padding: 25px;
    
}

/*-------------------VIDEO 4----------------*/

.vid4 {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 75px;
    padding: 20.5px;
    border-style: solid;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    height: 469px;
    width: 331.5px;
    border-radius: 15px;
    float: right;
}

/*-----------------VIDEO 5------------------------*/

.vid5 {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    margin-right: 520px;
    margin-left: 80px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom: 10px;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    padding: 25px;
    
}

/*-----------------VIDEO 6------------------------*/

.vid6 {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 75px;
    padding: 20.5px;
    border-style: solid;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    height: 469px;
    width: 331.5px;
    border-radius: 15px;
    float: right;
}

.vid10 {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    margin-right: 520px;
    margin-left: 80px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom: 10px;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    padding: 25px;
    
}


.vid9 {
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 75px;
    padding: 20.5px;
    border: 8px solid;
    border-color: rgb(75, 241, 9);
    height: 469px;
    width: 331.5px;
    border-radius: 15px;
    float: right;
}